<div class="px-8 py-4 mx-auto">
  <h1 class="text-2xl font-bold mb-4">Editar Operador</h1>
  
  <%= form_for @user, url: operator_path(@user), method: :patch do |f| %>
    <turbo-frame id="errors">
      <%= render 'layouts/errors', resource: @user %>
    </turbo-frame>

    <div class="mb-4">
      <%= f.label :name, 'Nome completo*', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_field :name, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= f.label :username, 'Nome de usuário*', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_field :username, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="flex items-center space-x-4">
      <%= f.submit 'Atualizar', class: 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded' %>
      <button type="reset" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Resetar</button>
    </div>
  <% end %>
</div>
