<div class="px-8 py-4 mx-auto">
  <h1 class="text-2xl font-bold mb-4">Criar projeto</h1>
  <%= form_for @project, url: projects_path do |f| %>
    <turbo-frame id="errors">
      <%= render 'layouts/errors', resource: @project %>
    </turbo-frame>

    <div class="mb-4">
      <%= label_tag :name, (@client.type == 'Company' ? 'Razão Social': 'Nome'), class: 'block text-gray-700 font-medium mb-2' %>
      <%= text_field_tag :name, @client.name, disabled: true, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <% if @client.type == 'Company' %>
      <div class="mb-4">
        <%= label_tag :company_name, 'Nome Fantasia', class: 'block text-gray-700 font-medium mb-2' %>
        <%= text_field_tag :company_name, @client.company_name, disabled: true, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
      </div>
    <% end %>

    <div class="mb-4">
      <%= label_tag :document_number, (@client.type == 'Company' ? 'CNPJ': 'CPF'), class: 'block text-gray-700 font-medium mb-2' %>
      <%= text_field_tag :document_number, @client.document_number, disabled: true, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= label_tag :email, 'E-mail', class: 'block text-gray-700 font-medium mb-2' %>
      <%= text_field_tag :email, @client.email, disabled: true, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= label_tag :phone, 'Telefone', class: 'block text-gray-700 font-medium mb-2' %>
      <%= text_field_tag :phone, @client.phone, disabled: true, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= f.label :description, 'Observação', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_area :description, style: 'height: 200px;', class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

     <%= hidden_field_tag :client_id, params[:client_id] %>

    <div class="flex items-center space-x-4">
      <%= f.submit 'Cadastrar', class: 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded' %>
      <button type="reset" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Resetar</button>
    </div>
  <% end %>
</div>