<div class="px-8 py-4 mx-auto">
  <h1 class="text-2xl font-bold mb-4">Editar Cliente</h1>
  
  <%= form_for @company, url: company_path(@company), method: :patch do |f| %>
    <turbo-frame id="errors">
      <%= render 'layouts/errors', resource: @company %>
    </turbo-frame>

    <div class="mb-4">
      <%= f.label :name, 'Razão Social*', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_field :name, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= f.label :company_name, 'Nome Fantasia', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_field :company_name, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= f.label :document_number, 'CNPJ*', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_field :document_number, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= f.label :email, 'E-mail', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_field :email, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= f.label :phone, 'Telefone*', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_field :phone, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= f.label :zip_code, 'Cep', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_field :zip_code, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= f.label :address, 'Endereço', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_field :address, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= f.label :neighborhood, 'Bairro', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_field :neighborhood, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= f.label :city, 'Cidade', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_field :city, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= f.label :state, 'Estado', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_field :state, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="mb-4">
      <%= f.label :complement, 'Complemento', class: 'block text-gray-700 font-medium mb-2' %>
      <%= f.text_field :complement, class: 'w-custom-752 max-w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:ring-0 focus:border-customOrange' %>
    </div>

    <div class="flex items-center space-x-4">
      <%= f.submit 'Atualizar', class: 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded' %>
      <button type="reset" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Resetar</button>
    </div>
  <% end %>
</div>
