<div class="px-8 py-4 mx-auto">
  <%= render 'layouts/flash' %>

  <h1 class="mb-4 text-2xl font-bold">Lista de Fases</h1>
  <div class="flex items-center mb-4">
    <%= link_to 'Nova Fase', new_phase_path, class: 'bg-customOrange hover:bg-orange-600 text-white font-bold py-2 px-4 rounded mr-4' %>
  </div>
    <table class="min-w-full bg-white">
      <thead class="border-b border-gray-200 ">
        <tr class="border-b border-gray-200">
          <th class="py-2 pr-4 text-left"></th>
          <th class="py-2 pr-4 text-left text-nowrap">Descrição</th>
          <th class="py-2 pr-4 text-left text-nowrap">Fim de Fase</th>
          <th class="py-2 pr-4 text-left text-nowrap">Nome</th>
          <th class="py-2 pr-4 text-left text-nowrap">Ações</th>
        </tr>
      </thead>
      <tbody data-controller="sortable">
        <% @phases.each do |phase| %>
          <tr data-sortable-url="<%= update_order_phases_phases_path(phase) %>" data-phase-id="<%= phase.id %>" class="border-b border-gray-200">
            <td class="py-2 pr-4" data-sortable-handle>
              <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
              </svg>
            </td>
            <td class="py-2 pr-4"><%= phase.name_capitalize %></td>
            <td class="py-2 pr-4"><%= phase.description %></td>
            <td class="py-2 pr-4">

              <%= render 'end_of_phase', phase: phase %>

            </td>
            <td class="flex flex-wrap gap-1 py-2 pr-4">
              <%= link_to 'Editar', edit_phase_path(phase), class: 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded text-nowrap' %>
              <button type="button" onclick="openModal(<%= phase.id %>)" class="px-2 py-1 font-bold text-white bg-red-500 rounded hover:bg-red-600">Excluir</button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


  <!-- Modal -->
  <div id="deleteModal" class="fixed inset-0 flex items-center justify-center hidden bg-black bg-opacity-50">
    <div class="p-8 bg-white rounded-lg shadow-lg">
      <h2 class="mb-4 text-xl font-bold">Confirmação de Exclusão</h2>
      <p class="mb-4">Tem certeza de que deseja excluir esta fase?</p>
      <div class="flex justify-end space-x-4">
        <button type="button" onclick="closeModal()" class="px-4 py-2 font-bold text-white bg-gray-500 rounded hover:bg-gray-600">Cancelar</button>
        <%= button_to 'Confirmar', '', method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded', id: 'deleteButton' %>
      </div>
    </div>
  </div>
</div>

<script>
  function openModal(phaseId) {
    document.getElementById('deleteModal').classList.remove('hidden');
    document.getElementById('deleteButton').setAttribute('formaction', `/phases/${phaseId}`);
  }

  function closeModal() {
    document.getElementById('deleteModal').classList.add('hidden');
  }

  document.getElementById('saveOrderButton').addEventListener('click', function(e) {
    e.preventDefault();

    var formData = new FormData();
    formData.append('_method', 'PATCH');

    var inputs = document.querySelectorAll('input[type="number"]');
    inputs.forEach(function(input) {
        formData.append(input.name, input.value);
    });

    fetch('<%= update_order_phases_phases_path %>', {
        method: 'PUT',
        body: formData,
        headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }
    })
    .then(function(responseData) {
        window.location.reload();
    })
  });

</script>
